:root {
    --yellow: rgba(250, 194, 105, 1);
    --white: rgba(255, 255, 255, 1);
    --main-font: 'Luckiest Guy', sans-serif ;
    --second-font: "Gotham Pro", sans-serif;
    --app-mobile-width: 375px;
    --app-mobile-height: 715px;
}

@font-face {
    font-family: Luckiest Guy; 
    src: url('fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf');
    font-style: normal;
    font-weight: 300 800;
  }
@font-face {
    font-family: Gotham Pro; 
    src: url('fonts/Gotham Pro/gothampro.ttf');
    font-style: normal;
    font-weight: 400;
}
  
* {
    font-family: var(--main-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: radial-gradient(85.48% 79.62% at 50% 50%, rgb(117, 189, 255) 0%, rgb(2, 0, 101) 100%);
}
.wrapper{
    position: relative;
    margin: 0 auto;    
    height: var(--app-mobile-height);
    max-width: var(--app-mobile-width);
}
.container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    height: var(--app-mobile-height);
    padding: 15px;
    background: radial-gradient(85.48% 79.62% at 50% 50%, #75BDFF 0%, #020065 100%);
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background: rgba(0, 21, 131, 1);
}

.title {
    margin-top: 85px;
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrapper-wheel {
    display: flex;
    margin: 0 auto;
}
.wheel {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    box-shadow: 1px 5px 4px 0px rgba(27, 55, 159, 1) inset;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg, #3496DF 11.29%, #016CB9 94.98%);
}

.wheel-pointer {
    position: absolute;
    z-index: 1;
    margin-top: 3px;
    width: 11px;
    height: 22px;
}

.wheel-image-wrapper {
    margin-top: 10px;
    width: 180px;
    height: 180px;
    background-image: url(./wheel.png);
    background-size: 114%;
    background-position: center; 
}
.wheel-image {
    object-fit: none;
    margin-top: 7px;
    border: none; 
    width: 180px;
    height: 180px;  
}
.notification {
    display: flex;
    flex-direction: column;
}
.wheel-info {
    margin: 15px 0 0 15px;
    border-radius: 10px;
    border: 3px solid;
    border-image-source: linear-gradient(180deg, #FFCD7E 0%, #E18A00 100%);
    width: 130px;
    height: 55px;
    padding-top: 7px;
    background-image: linear-gradient(327.68deg, #588DD8 -2.66%, #324FA5 80.63%),
                        linear-gradient(180deg, #FFCD7E 0%, #E18A00 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    text-shadow: -1px -1px 0px rgba(180, 110, 0, 1);  
    font-size: 20px;
    line-height: 20px;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    color: var(--yellow)

}
.button {
    transition: all 0.03s linear;
    margin: 15px 0 0 15px;
    box-shadow: 0 5px rgba(138, 0, 0, 1);
    border: 3px solid;
    border-radius: 10px;
    border: 3px solid;
    border-image-source: linear-gradient(180deg, #FFCD7E 0%, #E18A00 100%);
    width: 130px;
    height: 55px;
    padding-top: 7px;
    background-image: linear-gradient(241.78deg, #BC0000 27.02%, #8B0000 82.05%),
                        linear-gradient(180deg, #FFCD7E 0%, #E18A00 100%);            
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    font-size: 20px;
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--yellow);
}
.button:active{
    box-shadow: none;
    bottom: 10px;
    transform: translateY(4px);
    outline: 0;
}
.winners {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 1px 5px 4px 0px rgba(27, 55, 159, 1) inset;
    border-radius: 10%;
    width: 345px;
    height: 326px;
    background: linear-gradient(180deg, #3598DF 0%, #006BB8 100%);
}
.sub-title {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    font-family: var(--main-font);
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white)
}
.winners-info-all {
    display: flex;
    flex-direction: column;
}
.winners-info {
    display: flex;
    margin-bottom: 15px;
    box-shadow: 1px 3px 3px 0px rgba(16, 46, 131, 0.5);
    border-radius: 10px;
    width: 315px;
    height: 51px;
    background: linear-gradient(180deg, #62B5F0 0%, #046EBA 100%);
}
.avatar {
    display: flex;
    margin: 6.5px 4.5px 6.5px 6.5px;  
    width: 38px;
    height: 38px;
}
.user-name {
    margin: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    font-family: var( --second-font);
    text-align: left;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.25);
    color: var(--white)
}
.money-totall {
    margin: auto;
    font-size: 14px;
    font-weight: 400;
    font-family: var( --second-font);
    line-height: 13px;
    text-align: left;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.25);
    color: var(--white)
}
.coins{
    margin: auto;
    width: 21px;
    height: 14px;
}
.seconds {
    margin: auto;
    font-size: 14px;
    line-height: 13px;
    font-family: var( --second-font);
    font-weight: 400;
    text-align: left;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.25);
    color: var(--white)
}
.button:hover {
    opacity: 0.8;
  }
.blur {
    animation: blur 10s;
  }
@keyframes blur {
    0% {
      filter: blur(1.5px);
    }
    80% {
      filter: blur(1.5px);
    }
    100% {
      filter: blur(0px);
    }
  }
.back-window{
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    display: none;
    opacity: 0.8;
    margin: 0 auto;
    width: var(--app-mobile-width);
    height: var(--app-mobile-height);
    background: rgba(0, 0, 0, 0.8);
}
.back-text-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    margin: 0 auto;
}
.back-text-window{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--app-mobile-width);
    height: var(--app-mobile-height);

}
.back-title{
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: 400;
    font-family: var(--main-font);
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
.money-coin-container{
    display: flex;
    align-items: center; 
    margin-top: 25px; 
  }
.back-window-money {
    display: flex;
    margin: 15px;
    align-items: center;  
    font-size: 60px;
    font-weight: 400;
    font-family: var(--main-font);
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
.back-window-coin {
    display: flex;
    align-items: center; 
  }
.congrat-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    box-shadow: 0 5px rgba(138, 0, 0, 1);
    border: 3px solid;
    border-radius: 10px;
    width: 130px;
    height: 55px;
    padding-top: 7px;
    background-image: linear-gradient(241.78deg, #BC0000 27.02%, #8B0000 82.05%),
                linear-gradient(180deg, #FFCD7E 0%, #E18A00 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    font-size: 28px;
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--yellow)
  }
  .congrat-button:active {
        box-shadow: none;
        bottom: 10px;
        transform: translateY(4px);
        outline: 0;
  }